* {
    background-color: white;
    color: black;
    font-size: 14px;
    font-family: 'Open Sans', "sans-serif";
}

header, footer {
    background-color: #e6e7e8;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

footer {
    color: #3f3f3f;
    height: 2rem;
}

header #logo {
    width: 5rem;
    height: 4.35rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', 'serif';
    color: #00acdd;
}

header h1 {
    font-weight: bold;
    color: #004166;
}

h1 span #subject{
    color: #96bc33;
}